<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.updateDB.daemon</string>

    <key>RunAtLoad</key>
    <true/>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python3</string>
      <string>/Users/jordanshefman/Desktop/NFL-Pick-Em/scripts/get_nfl_boxscores.py</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>1</integer>
      <key>Minute</key>
      <integer>0</integer>
      <key>Weekday</key>
      <integer>2</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/jordanshefman/Desktop/NFL-Pick-Em/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jordanshefman/Desktop/NFL-Pick-Em/stderr.log</string>
  </dict>
</plist>
