@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-image: linear-gradient(120deg, #4b8bf3 0%, #c2e9fb 100%);
  background-attachment: fixed;
}

h2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  margin-left: 15px;
  font-size: large;
}

.page_title {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  color: blue;
  margin-left: 15px;
  font-size: 50px;
}

#leaders {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}

#leaders td,
#leaders th {
  border: 2px solid #ddd; /* increase border width */
  padding: 6px;
}

#leaders tr:hover {
  background-color: #ddd;
  cursor: grab;
}

#leaders th {
  padding: 6px;
  text-align: center;
  background-color: blue;
  color: white;
  font-size: x-large;
  font-style: oblique;
}

#leaders tr {
  padding: 6px;
  text-align: left;
  font-size: medium;
}

